.main-title {
  font-family: "Bellefair", serif;
  color: var(--white);
  text-transform: uppercase;
}

p {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}

.subheading-1 {
  color: var(--white);
  font-family: "Bellefair", serif;
  font-size: 28px;
  text-transform: uppercase;
}

.subheading-2 {
  color: var(--white);
  font-family: "Bellefair", serif;
  font-size: 14px;
  letter-spacing: 2.362px;
  text-transform: uppercase;
}

@media only screen and (min-width: 640px) {
  p {
    line-height: 28px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  p {
    line-height: 32px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1920px) {
  p {
    line-height: 40px;
    font-size: 23px;
  }
}
