.navbar-bg {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(41px);
  height: 100vh;
  width: 253px;
  position: absolute;
  top: -80px;
}

.nav-text {
  color: var(--white);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

.nav-deco {
  height: 1px;
  width: 42%;
  background-color: white;
  margin-left: 100px;
  opacity: 0.25;
}

nav a {
  position: relative;
}

nav a {
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 4;
  width: 0;
  height: 3px;
  background-color: var(--white);
  opacity: 0.5;
  transition: width 0.2s ease-out;
}

nav a:hover::before,
nav a:active::before {
  width: 130px;
  background-color: var(--white);
  content: "";
  position: absolute;
  bottom: 0px;
  left: 4;
  width: 0;
  height: 3px;
  opacity: 1;
}

@media only screen and (min-width: 640px) {
  .nav-text {
    font-size: 14px;
    letter-spacing: 2.362px;
  }
  .navbar-bg {
    height: 100%;
    width: 450px;
    top: 0px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px;
  }
  nav a::before {
    bottom: -37px;
  }
  nav a:hover::before,
  nav a:active::before {
    width: 100%;
    bottom: -37px;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-text {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .navbar-bg {
    height: 100%;
    width: 830px;
    top: 0px;
    right: 0px;
  }
  nav a::before {
    bottom: -37px;
  }
  nav a:hover::before,
  nav a:active::before {
    width: 100%;
    bottom: -37px;
  }
}
