.navbar-bg {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(41px);
  height: 100vh;
  width: 253px;
  position: absolute;
  top: 0px;
}

.nav-text {
  color: var(--white);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

.nav-deco {
  height: 1px;
  width: 35%;
  background-color: white;
  margin-left: 100px;
  opacity: 0.25;
}

.my-navbar a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.my-navbar a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width 0.3s ease;
}

.my-navbar a:hover::before,
.my-navbar a.active::before {
  width: 100%;
}

.my-navbar a.active {
  opacity: 1;
}

.my-navbar a.active::before {
  background-color: white;
}

@media only screen and (min-width: 640px) {
  .nav-text {
    font-size: 14px;
    letter-spacing: 2.362px;
  }
  .navbar-bg {
    height: 100%;
    width: 450px;
    top: 0px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px;
  }
  .my-navbar a::before {
    bottom: -37px;
  }
  .my-navbar a:hover::before,
  .my-navbar a:active::before,
  .my-navbar a:focus::before {
    width: 100%;
    bottom: -37px;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-text {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .navbar-bg {
    height: 100%;
    width: 830px;
    top: 0px;
    right: 0px;
  }
  .my-navbar a::before {
    bottom: -37px;
  }
  .my-navbar a:hover::before,
  .my-navbar a:active::before,
  .my-navbar a:focus::before {
    width: 100%;
    bottom: -37px;
  }
}

@media only screen and (min-width: 1920px) {
  .nav-text {
    font-size: 18px;
    letter-spacing: 3.5px;
  }
  .navbar-bg {
    height: 100%;
    width: 1100px;
    top: 0px;
    right: 0px;
  }
  .my-navbar a::before {
    bottom: -30px;
  }
  .my-navbar a:hover::before,
  .my-navbar a:active::before,
  .my-navbar a:focus::before {
    bottom: -30px;
  }
  .nav-deco {
    width: 35%;
  }
}
